name: Get 4D Result
on:
  schedule:
    - cron: '30 12 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch and Send
        run: |
          DATE=$(date -d "+8 hours" +%Y%m%d)
          
          RESPONSE=$(curl -s "https://www.damacai.com.my/callpassresult?pastdate=$DATE")
          
          curl -v -X POST "http://4dresult.xo.je/crawl.php" \
            -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64)" \
            -d "key=4d_auto_update_888" \
            -d "date=$DATE" \
            -d "data=$RESPONSE"
